Source: binutils-powerpc-wrs-vxworks
Section: devel
Priority: extra
Maintainer: R Blair Mason (rbmj) <rbmj@verizon.net>
Build-Depends: debhelper (>= 8.0.0), zlib1g-dev, binutils-dev
Standards-Version: 3.9.3
Homepage: http://www.gnu.org/software/binutils

Package: binutils-powerpc-wrs-vxworks
Architecture: any
Depends: ${shlibs:Depends}, binutils-dev
Description: GNU Binary Utilities for powerpc-wrs-vxworks target
 This package contains the GNU assembler, linker, and binary utilities
 for a cross compilation toolchain targeting powerpc-wrs-vxworks.

